/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $yellow-color;
    // border-bottom: 2px dotted $pink-color;
    min-height: 56px;
    background-color: white;
    // background-color: #ecf0f1;
        // background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width:100%;

    // Positioning context for the mobile navigation icon
    // position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: white;

    // &,
    // &:visited {
    //     color: $grey-color-dark;
    // }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color-dark;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: $grey-color-dark;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    color: white;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    color: $grey-color;
    text-decoration: none;

    li, a {
      text-decoration: none;
      color: $grey-color;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    // padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin: 86px 0 $spacing-unit * 2 0;
    list-style: none;

    > li {
        // margin-bottom: $spacing-unit;
        padding-bottom: $spacing-unit;
        border-bottom: 2px dotted $grey-color-light;
        background-color: white;
        padding: 3%;

    }
}

.post-meta {
    font-size: 18px;
    font-weight: 300;
    color: $grey-color;
    // float: right;


}

.home-post-meta {
    float: right;
    font-size: 20px;
    color: $pink-color;
    font-weight: 300;

}

.home-post-excerpt {
    font-family: "Source Serif Pro", serif;
    font-size: 20px;
    color: $grey-color;

}

.post-link {
    display: block;
    font-size: 24px;
    font-weight: 700;
    // color: #white;
    // background-color: $red-color;
    // padding: 10px;
    //
    //   a {
    //     color: white;
    //   }
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 90px;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight:700;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-title2 {
    font-size: 90px;
    font-family: 'Comfortaa', serif;
    // color: #f9320c;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-top: 1.2em;
    margin-bottom: 0.67em;

    @include media-query($on-laptop) {
        font-size: 40px;
        margin-top: 2.1em;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    background-color: white;
    font-family: "Source Serif Pro", serif;
    font-size: 20px;

    // padding: 40px;

    p {

      margin: 0 0 $spacing-unit 0;

    }

    li {
        margin-bottom: $spacing-unit / 2;
        > :last-child {
            margin-bottom: $spacing-unit;
        }
    }

    a {
        color: #d62a9d;
        font-weight: none;

    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: $spacing-unit * 2;
        margin-bottom: $spacing-unit * 2;
        border: 1px solid $grey-color-light;
      }

    h2 {
        font-size: 32px;
        font-family: $base-font-family;
        font-weight: 700;
        padding: 20px 0;
        color: #8b8687;
        @include media-query($on-laptop) {
            font-size: 28px;
        }

        a {
            font-weight: 700;

        }
    }

    h3 {
        font-size: 26px;
        font-family: $base-font-family;
        font-weight: 700;
        color: #8b8687;
        // padding-top: $spacing-unit / 2;
        padding-bottom: $spacing-unit / 2;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        font-family: $base-font-family;
        color: #8b8687;
        border-top: 2px dotted $grey-color-light;
        padding-top: 30px;
        font-weight: 700;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.reading-time {
    // background-color: $pink-color;
    // padding: 4px 10px;
    // border-radius: 5px;
    color: $pink-color;
    font-weight: 700;

    a {
      text-decoration: none;
      color: $pink-color;
      font-weight: 700;

    }

}

.homeview {
  background-image: url("/images/kendrickbump2.gif");
  // background-color: $pink-color;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  color: white;
  background-size: cover;
  font-family: "Source Serif Pro", serif;

  text-align: center;

  h1 {
    font-family: "Comfortaa", sans-serif;
    font-size: 19vw;
    color: white;
    line-height: 1.1;
    // margin-bottom: 3%;
    // margin-top:60px;
    text-align: center;
    // @include media-query($on-laptop) {
    //     padding-bottom: 2%;
    //     font-size: 400%;
    //     padding-top:60%;
    //     }
    }

    h2 {
      font-family: "Codystar", sans-serif;
      font-size: 5vw;
      color: white;
      text-align: center;
      // @include media-query($on-laptop) {
      //     padding-bottom: 3%;
      //     font-size: 120%;
      //     }
    }
}

.homeview-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @include media-query($on-laptop) {
        padding-bottom: 20px;
        font-size: 100%;
        }

}

.statement{
    font-size: 20px;
    @include media-query($on-laptop) {
        font-size: 100%;
        }
    @include media-query($on-palm) {
      font-size: 4vw;
      }
    @include media-query($on-hand) {
      font-size: 5vw;
      line-height: 1.1;
      }
}

  // h1#before-you-design-the-solution-you-have-to-understand-the-challenge {
  //   font-size: 2.5em;
  //   line-height: 1.3;
  //   font-family: serif;
  // }
  //
  // h2#i-use-data-to-construct-insights-around-the-problem-in-hand-then-look-at-competitive-sets-to-determine-where-a-product-can-establish-a-foothold-i-speak-to-all-types-of-stakeholder-to-understand-their-thinking-and-where-the-product-should-go {
  //   font-size: 32px;
  //   font-family: "Source Serif Pro", serif;
  //   font-weight: 400;
  //   padding: 20px 0;
  //   color: #8b8687;
  // }
  //
  // header.page-header {
  //
  //   h1 {
  //     font-size: 3.5em;
  //     line-height: 1.3;
  //     font-weight: 700;
  //     padding-top: 140px;
  //     padding-bottom: 30px;
  //   }
  //
  // }

  .myprocess {
      display: inline-block;
      width: 267px;
      height: 28.4%;
      margin-right: 6.3%;
      color: white;
      text-align: center;
      vertical-align: middle;
      line-height: 252px;
      border-radius: 50%;
      box-shadow: 0 10px 11px rgba(0, 0, 0, 0.1);
      text-decoration: none;
      font-family: "Source Serif Pro", serif;
      font-weight: 400;
      border: 1px white solid;

      &:hover {
        text-decoration: none;
        opacity: 0.8;
        box-shadow: 0 10px 11px rgba(0, 0, 0, 0.2);
      }
    }

  .myprocesses {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    a:nth-child(1) {background-image: url("/images/discovery2.gif"); background-position: center; height: auto;}
    a:nth-child(2) {background-image: url("/images/design.gif"); background-position: top; height: auto;}
    a:nth-child(3) {background-image: url("/images/measure.gif"); background-position: center; background-size: cover; background-repeat: no-repeat; height: auto; margin-right: 0px !important;}
}

  .myprocess-content {
    height: 100vh;
  }

  // Process page styles
  .process-content {
      font-family: "Source Serif Pro", serif;
      font-weight: 400;
      font-size: 20px / 1.5;

      h1{

        font-size: 40px;
        line-height: 50px;
        background-color: $pink-color;
        color: white;
        // font-weight: 700;
        margin-bottom: $spacing-unit;
        padding: 40px;
            border-radius: 20px;

      }

      h2 {

      }

      h3 {
        font-size: 26px;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        color: #8b8687;
        padding-bottom: 15px;
        }

      p {
        margin-bottom: $spacing-unit;
      }

      ul {
        margin-bottom: 0px;
      }
  }

  .process-heading {
      font-size: 20px;
      margin-top: 120px;

  }

  .process-results {
    background-color:$grey-color-dark;
    color:$grey-color-light;
    padding: $spacing-unit;
    margin-bottom: $spacing-unit !important;


    h4 {
      font-size: 26px;
      font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
    }
  }

  h1.page-title {
    margin-top: 120px;
    margin-bottom: $spacing-unit;
    font-size: 60px;
    font-weight: 700;
    // text-align:center;
    // font-family: "Source Serif Pro", serif;
    // font-style: oblique;
  }
