<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="statement">
        I’m Jon, a Product Strategist &amp; Designer, and I work with people like you to make what feels like the impossible, real. I create actionable strategies that address user needs and business KPIs, and design sumptuous interfaces for desktop and mobile all with a belief and focus in simplicity.
      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
